langchain == 0.3.15
onnxruntime == 1.20.1
chromadb == 0.6.3
langchain-chroma == 0.2.1
langchain_community == 0.3.15
langgraph == 0.2.67
pypdf == 5.1.0
tiktoken == 0.8.0
gpt4all == 2.8.2
langchain-openai == 0.3.5
fastapi[standard]
pylint == 3.3.4
grandalf == 0.8
ipython == 8.32.0
pysqlite3-binary; platform_system != "Windows"
pytest == 8.3.4
pytest-cov == 6.0.0
