.chatbot {
	position: fixed;
  top: 15%;
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 25px;
  overflow-y: auto;
  background: #eef2f6;
}

.chatbot.ancle_bottom {
  top: unset !important;
  bottom: 50px;
  overflow-y: none !important;
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #e5e5e5;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.chatbot.disabled {
  opacity: 0.75;
}

.chatbot .MuiButtonBase-root.Mui-disabled {
  opacity: 0.10;
  cursor: default;
}

.chatbot .MuiButtonBase-root.Mui-disabled:hover {
  transform: none;
}

.chatbot .welcome {
  width: 100%;
  text-align: center;
}

.chatbot .welcome p {
  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 1.30;
  color: var(--text_color);
  width: 100%;
  margin: 0;
}

.chatbot .welcome svg {
  color: var(--secondary_color);
  width: 75px;
  height: 75px;
}

.chatbot .question-container {
  margin-top: 25px;
  padding: 10px 10px;
  background: var(--chatbot_color);
  border-radius: 15px;
  position: relative;
}

.chatbot input {
  width: 100%;
  background: var(--chatbot_color);
  border: 0;
  outline: none;
  word-break: break-word;
  padding: 5px 5px;
  font-size: 16px;
  color: var(--question_color);
}

.chatbot .chatbot-options {
  position: absolute;
  right: 5px;
  top: 6px;
}

.chatbot .MuiButtonBase-root {
  background: var(--primary_color);
  color: white;
  padding: 11px;
  transition: all 0.25s ease;
  margin-left: 3px;
  margin-right: 3px;
}

.chatbot #send-button {
  background: var(--secondary_color);
}

.chatbot .MuiButtonBase-root.voice {
  background: var(--record_voice_color);
}

.chatbot .MuiButtonBase-root.disabled {
  opacity: 0.10;
  cursor: default;
}

.chatbot .MuiButtonBase-root:hover {
  transform: scale(1.10);
}

.chatbot .MuiButtonBase-root.disabled:hover {
  transform: none;
}

.chatbot .MuiButtonBase-root svg {
  width: 15px;
  height: 15px;
}

main {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: unset !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  height: calc(100vh - 30px) !important;
  min-height: calc(100vh - 30px) !important;
}

.embebbed main {
  position: inherit !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
  width: inherit !important;
  height: calc(100vh - 77px) !important;
  min-height: calc(100vh - 77px) !important;
}

.chat-title {
  color: var(--text_color);
  font-weight: normal;
  text-align: center;
  font-size: 23px;
  margin: 10px;
  margin-bottom: 25px; 
}

.scrollbar-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: calc(100vh - 80px) !important;
}

#demo-ai-rag-container {
  width: 900px;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
  height: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.embebbed #demo-ai-rag-container {
  height: 100% !important;
}

.bottom-padding {
  margin: 120px;
}

.chatbot .brand {
  text-align: center;
  color: var(--text_color);
  margin-top: 15px;
  opacity: 0.35;
  font-size: 12px;
}

@media (max-width: 965px) {
  img.logo {
    width: 50px;
    margin-left: 0;
    left: 15px;
    top: -5px;
  }

  .chatbot {
    left: 30px;
    right: 30px;
    width: unset;
  }

  #demo-ai-rag-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
